/*
    3. Mixins

    
 */

@mixin transition {
	-moz-transition: all 0.1s ease 0s;
	-webkit-transition: all 0.1s ease 0s;
	-o-transition: all 0.1s ease 0s;
}
@mixin transition2 {
	-webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
@mixin transition-hover-img {
  -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
@mixin notrans {
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: color 0 ease-in;
	transition: none;
}
@mixin transition-btn {
	-webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
}
@mixin scale($scale){
	-webkit-transform: scale($scale);
    transform: scale($scale);
}
@mixin noscale{
	-webkit-transform: none;
  	transform: none;
}
@mixin box-shawdow{
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
@mixin box-shawdow2{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
}
@mixin border-radius($radius){
	-moz-border-radius:$radius;
	-webkit-border-radius:$radius;
	border-radius:$radius;
}
// Create placeholder mixin
@mixin placeholder($color, $size:"") {
  &::-webkit-input-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &:-moz-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &::-moz-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &:-ms-input-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
}
//letter spaceing
@function tracking( $target ){
  @return ($target / 1000) * 1em;
}

@mixin tracking( $target ){
  letter-spacing: tracking( $target );
}
//== Translate X - Y - Z
//==========================================
@mixin translateX($x) {
    -webkit-transform: translateX($x);
    -ms-transform: translateX($x); // IE9 only
    -o-transform: translateX($x);
    transform: translateX($x);
}

@mixin translateY($y) {
    -webkit-transform: translateY($y);
    -ms-transform: translateY($y); // IE9 only
    -o-transform: translateY($y);
    transform: translateY($y);
}

@mixin translateZ($z) {
    -webkit-transform: translateZ($z);
    -ms-transform: translateZ($z); // IE9 only
    -o-transform: translateZ($z);
    transform: translateZ($z);
}
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//== Transform
//==========================================
@mixin transform($argument){
    -webkit-transform: ($argument);
    -moz-transform: ($argument);
    -ms-transform: ($argument);
    -o-transform: ($argument);
    transform: ($argument);
}
// Scale
@mixin scale($scale) {
  @include transform(scale($scale));
}
//Padding mixin
@mixin padding($number) {
  padding-right: $number;
  padding-left: $number;
}
@mixin btn($w,$h,$c,$bg){
  width: $w;
  height:$h;
  line-height:$h;
  text-align:center;
  color:$c;
  background:$bg;
}
// btn-hover
@mixin btn-hover {
  background:#eb5050;
  color:#fff;
  @include transition2;
}
// ribbon
@mixin ribbon($w,$h,$bg){
  width: $w;
  height: $h;
  line-height:$h;
  background: $bg;
}

//line
@mixin line-center($w,$c){
  border-bottom: 1px solid $c;
  bottom: 0;
  left: 50%;
  @include translateX(-50%);
  content: "";
  position: absolute;
  width: $w;
}
@mixin line-center2($w){
  border-bottom: 1px solid #fff;
  bottom: 0;
  left: 50%;
  @include translateX(-50%);
  content: "";
  position: absolute;
  width: $w;
}
@mixin line-left($w,$c){
  border-bottom: 1px solid $c;
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
  width: $w;
}
@mixin line-left2($w){
  border-bottom: 1px solid #fff;
  bottom: 0;
  
  content: "";
  position: absolute;
  width: $w;
}
@mixin line-right($w,$c){
  border-bottom: 1px solid $c;
  bottom: 0;
  right: 0;
  content: "";
  position: absolute;
  width: $w;
}
@mixin line-right2($w){
  border-bottom: 1px solid #fff;
  bottom: 0;
  
  content: "";
  position: absolute;
  width: $w;
}