/** 1.1. Vendor **/

/** 1.1.1.	Google fonts **/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,300);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,900);

/** 1.1.2.	Icon Fonts **/
@import url('../sass/components/Vendor/font-awesome/font-awesome.min.css');
@import url('../sass/components/Vendor/simple-line-icon/css/simple-line-icons.css');
@import url('../sass/components/Vendor/blanch/fonts.css');
@import url('../sass/components/Vendor/PlayfairDisplay/fonts.css');
@import url('../sass/components/Vendor/ionicons/css/ionicons.min.css');
/** 1.1.3. Vendor library **/
/* EX: @import url('components/Vendor/owlcarousel/owlcarousel.css'); */