/*
	6.3. Homepages
			6.3.1. Home Simple
			6.3.2. Home Clean
			6.3.3. Home Bestselling
			6.3.4. Home Instagram Shop
			6.3.5. Home Cat Metro
			6.3.6. Home Categories Slider
			6.3.7. Home Categories
			6.3.8. Home Parallax
			6.3.9. Home Fullslider
			6.3.10. Home Lookbook
			6.3.11. Home Minimal

 */



// Home slider fullwidth
.header-v2.home-cate-slider{
	.navbar-nav > li > a{
		font-weight:600;
	}
}
.wrapper-slider {
	position:relative;
	z-index: 2;
	.slider-img{
		
	}
	.icon-bag{
		margin-right:10px;
	}
}
.category-slide{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index: 3;
	
	@media(max-width: $screen-xs-max){
		width:100%;
	}
	li{
		cursor:pointer;
		h3{
			margin-bottom:30px;
		
		font-weight:600;
			font-size:25px;
			color:#fff;
			position:relative;
			padding-bottom:15px;
			text-transform:capitalize;
			cursor:pointer;
			@media(max-width: $screen-sm){
				font-size:10px;
				padding-bottom:5px;
				margin-bottom:15px;
				text-align:center;
			}
			&:before{
				@include line-right2(150px);
				@media(max-width: $screen-sm){
					@include line-center2(30px);
				}
			}
			&:hover{
				color:$color-hover;
				@include transition2;
			}
		}
		
			
		
		@media(max-width: $screen-sm){
			
			width:unset;
			margin:0 5px;
		}
		// hover
		&:hover .cate-content{

			@media(min-width:$screen-sm){
				@include translateY(-20px); 
				.btn-slider-shop{
					opacity:1;
				}
			}
		}
	}
}
@media(min-width:$screen-sm){
	.cate-content{
		width:149px;
		margin:0 auto;
		text-align: left;
		@include transition2;
		padding:20px 0;
	}
}
.btn-slider-shop{
	@include btn(unset,44px,#fff,transparent);
	display:block;
	border:1px solid #fff;
	font-weight:500;
	font-size:11px;
	padding:0 20px;
	text-transform:uppercase;
	opacity:0;
	&:hover{
		background: #000;
    	border-color: #000;
	}
	
}
// home clean
.blog{
	padding-top:75px;
	padding-bottom:25px;
	.blog-post-item .post-name a{
		font-size:16px;
		font-weight:500;
	}
	.blog-post-img > a {
	    width: 100%;
	}
}
.blog, .blog-home{
	.owl-theme .owl-nav [class*=owl-]{
		background: #fff;
		color: #000;
		margin:0;
		padding:0;
		font-size:22px;
		@include border-radius(0);
		@media(min-width:1500px){
			background:transparent;
		}
	}
	.owl-nav > div{
		display: block;
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	    text-align: center;
	    color: #000000;
	    font-size: 22px;
	    left: 0;
	    position:absolute;
	    top: 35%;
	    @include translateY(-50%);
	}
	.owl-nav > div.owl-next{
		left: auto;
    	right: 0;
    	@media(min-width:1500px){
    		right:-80px;
    	}
	}
	.owl-nav > div.owl-prev{
		left: 0;
    	right: auto;
    	@media(min-width:1500px){
    		left:-80px;
    	}
	}
	
}
// Home category
.wrapper-category{

	[class*="col-md-"] {
		padding:0;
	}
	.row{
		margin:0;
	}

}
.category-img a > img {
    width: 100%;
}
.category-img{
	position:relative;
	.category-text{
		text-align:center;
		@include centerer;
	}
}
.instagram-top{
	color:#fff;
	font-size:20px;
	font-weight:500;
	background:#000;
	padding:25px 0;
	a{
		color:#fff;
		&:hover{
			color:$color-hover;
		}
	}
}
.wrapper{
	padding:119px 0 93px 0;
	@media(max-width:$screen-xs-max){
		padding-left:15px;
		padding-right:15px;
	}
}
.about{
	background: url(../img/cosrebg.jpg) no-repeat center;
	background-size:cover;
	padding:80px 0 153px 0;
	@media(max-width:$screen-xs){
		padding:30px 0;
	}
	@media(max-width:$screen-xs-max){
		padding-left:15px;
		padding-right:15px;
	}
	h2{
		margin-bottom:45px;
		font-family:$custom-font;
		font-size:35px;
		
	}
	.about-cosre-text{

		@media(min-width:$screen-sm-max){
			max-width:935px;
			margin:0 auto;
		}
		p{
			font-size:14px;
			line-height:30px;
			color:#a4a4a4;
		}
	}
}
// Home Simple
.blog-home{
	padding-bottom:15px;
}
.product-box .box-left {
    padding-right:0;
    padding-left:0;
    > [class*="col-"]{
    	margin-bottom:30px;
    }
	
}
.product-box .box-right {
    padding-right: 0px;
    padding-left:0;
    > [class*="col-"]{
    	margin-bottom:30px;
    }
    .col-sm-6:nth-child(2n+1) {
	    clear: none;
	}
}
.blog-home{
	.post-name{
		a{
			font-size:16px;
			font-weight:500;
		}
	}
	.post-date{
		color:#000;
		width:80px;
		height:80px;
		border: 2px solid #000;
		text-align:center;
		@include tracking(0);
		padding:0 9px;
		.date{
			display:block;
			font-size:20px;
			line-height: 37px;
    		border-bottom: 1px solid #e3e3e3;
    		font-weight:500;
		}
		.month{
			font-size:18px;
			line-height:38px;
			font-weight:500;
		}
	}
}
.blog-home{
	.blog-post-info{
		> *{
			display: table-cell;
    		vertical-align: top;
		}
		.post-info{
			padding-left:25px;
			.post-name{
				margin-bottom:9px;
			}
			.blog-readmore{
				color:#a4a4a4;
				font-weight:600;
				font-size:12px;
				&:hover{
					color:#eb5050;
				}
				&:after{
					content: "";
				    background: url(../img/arrow-homesimple.jpg) no-repeat center;
				    top: -1px;
    				left: 9px;
				    position: relative;
				    display: inline-block;
				    width: 13px;
				    height: 4px;
				}
			}
		}
	}	
}
.instagram.ver2{
	background: url(../img/homesimple_instagram.jpg) no-repeat center;
	background-size:cover;
	padding:180px 0 200px 0;
	.text{
		font-family:$custom-font;
		font-size:35px;
		color:#fff;
		a{
			color:#ff3131;
		}
	}
}
.product-category{
	 .owl-carousel .owl-item img{
	 	width: initial;
   	 	margin: 0 auto;
	 }
	 .owl-nav{
	 	margin-top: 0;
	    position: absolute;
	    top: 43%;
	    left: 50%;
	    transform: translate(-50%,-50%);
    	width: 100%;
	 }
	 .owl-theme .owl-nav [class*=owl-]{
	 	color:#000;
	 	background:transparent;
	 	padding:0;
	 	margin:0 20px;
	 }
	 .owl-prev{
	 	float:left;
	 }
	 .owl-next{
	 	float:right;
	 }
	 .owl-carousel .owl-nav .owl-prev,
	  .owl-carousel .owl-nav .owl-next,
	  .owl-carousel .owl-dot {
	    font-family: 'fontAwesome';

	}
		.owl-carousel .owl-nav .owl-prev:before{
	    // fa-chevron-left
	    content: "\f053";
	    margin-right:10px;
	}
	.owl-carousel .owl-nav .owl-next:after{
	    //fa-chevron-right
	    content: "\f054";
	    margin-right:10px;
	}
}
.box-category-name{
	margin-top: 25px;
    @include translateY(10px);
  
   	@include transition2;
    opacity: 0;
	a{
		font-size:18px;
		font-weight:500;
		text-transform:capitalize;
		
	}
}
.box-category{
	background-color: #ffffff;
	border:1px solid #e5e5e5;
	margin: 0 0px 30px;
    padding: 77px 0 33px;
}
.box-category:hover{
	border-color: rgba(0, 0, 0, 0);
	box-shadow: 0 15px 24px 2px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	.box-category-name{
		@include translateY(0px);
    	opacity: 1;
		a{
			opacity:1;
			@include transition2;
		}
	}
}
// Home Best selling
.product-homebs{
		
	.product-title{
		font-size:50px;
		font-weight:500;
		@media(max-width:$screen-sm-max){
			font-size: 30px;
		}
		@media(max-width:$screen-sm){
			font-size:20px;
		}
		
		a{
			color:#fff;
			font-size:30px;
			@media(max-width:$screen-sm){
				font-size:20px;
			}
			
		}
	}
	.product-desc{
		color:#a4a4a4;
		font-size:20px;
		font-weight:500;
		position: relative;
		padding-bottom: 35px;
		padding-top:20px;
		margin-bottom:40px;
		@media(max-width:$screen-sm-max){
			padding-left:30px;
			padding-right:30px;
		}
		@media(max-width:$screen-sm){
			font-size: 18px;
		}
		@media(max-width:$screen-xs-max){
			padding-bottom: 20px;
		    margin-bottom: 20px;
		}
		@media(max-width:$screen-xs){
			font-size: 14px;
		}
		&:before{
			@include line-center(68px,#eb5050);
		}
		&.ver2{
			color:#fff;
			font-size:16px;
			padding-top:10px;
			padding-bottom: 43px;
			margin-bottom: 33px;
			@media(max-width:$screen-xs-max){
				padding-bottom: 20px;
    			margin-bottom: 20px;
			}
			@media(max-width:$screen-xs){
				font-size: 14px;
			}
		}
	}
	.btn-shop{
		font-size:16px;
		font-weight:500;
		border: 2px solid #000;
		@media(max-width:$screen-xs){
			border:1px solid #000;
			font-size:12px;
		}
		&.ver2{
			border: 2px solid #fff;
			color:#fff;
			@media(max-width:$screen-xs){
				border:1px solid #fff;
			}
		}
		&:hover{
			border-color:#eb5050;
		}
	}
}
.wrapper-product {
	&.product-homebs{
		[class*="col-md-"] {
			padding:0;
		}
		[class*="col-xs-"] {
			@media(max-width:$screen-xs-max){
				margin-bottom:30px;
			}
		}
		.row{
			@media(min-width:$screen-xs-max){
				display: flex;
    			align-items: center;
    			
			}
			@media(min-width:$screen-md){
				margin:0;
			}
		}
		.flex-img{
			@media(min-width:$screen-sm){
				order: 1;
			}
		}
		.product-info-ver2{
			
			margin: 0 auto;
		}
	}
}
.wrapper-product-list{
	background: url(../img/homecate_bg.jpg) no-repeat center;
	background-size:cover;
	padding-top:200px;
	padding-bottom:200px;
	@media(max-width:$screen-sm){
		padding-top:100px;
		padding-bottom:100px;
	}
	@media(max-width:$screen-xs-max){
		padding-top:50px;
		padding-bottom:50px;
	}
	[class*="col-md-"] {
		@media(min-width:$screen-md){
			padding:0 35px;
		}
	}
	.row {
		@media(min-width:$screen-md){
			margin:0 -35px;
		}
	}
	.product-info-ver2{
		padding-top:22px;
	}
}
// Home category
.wrapper-product {
	&.product-homecate-bg{
		background:url(../img/bg5.jpg) no-repeat center;
		background-size:cover;
		padding-top:150px;
		padding-bottom:200px;
		@media(max-width:$screen-xs-max){
			padding-top:50px;
			padding-bottom:50px;
		}
		[class*="col-xs-"] {
			@media(max-width:$screen-xs-max){
				margin-bottom:30px;
			}
		}
		.row{
			@media(min-width:$screen-sm){
				display: flex;
    			align-items: center;
    			
			}
		}
}
}
.product-homecate{
	.column-2{
		padding-top:163px;
		
	}
	.row{
		&:first-child{
			@media(min-width:1500px){
				padding-left:149px;
				&.nopd{
					padding-left:0;
				}
			}
		}
	}
}
.product-homecate{
	.product-info-ver2{
		&.left{
			text-align:left;
			@media(min-width:1500px){
				padding-left:0;
			}
		}
		&.right{
			text-align:right;
		}
		&.space-v1{
			margin-left:20px;
		}
		&.space-v2{
			margin-left:25px;
			padding-bottom:6px;
		}
	}
	.product-cate{
		font-size:14px;
		font-weight:500;
		@include tracking(300);
		margin-top:60px;
		&.ver2{
			margin-top:0;
		}
		&.ver3{
			margin-top:52px;
		}
	}
	.product-title{
		font-size:50px;
		padding:15px 0 38px 0;
		margin-bottom:45px;
		position:relative;
		font-weight:normal;
		&.left{
			
			&:before{
				@include line-left(41px,#eb5050);
			}
		}
		&.right{
			
			&:before{
				@include line-right(41px,#eb5050);
			}
		}
		&.ver2{
			padding: 12px 0 35px 0;
		}
	}
	.product-desc{
		color:#a4a4a4;
		font-size:14px;
		margin-bottom:60px;
		@media(min-width:$screen-md){
			max-width: 473px;
		}
		&.m-width{
			@media(min-width:$screen-md){
				max-width: 473px;
			}
		}
		&.right{
			float:right;
		}
	}
	.btn-shop{
		height:54px;
		line-height:54px;
		background:#000;
		color:#fff;
		text-transform:capitalize;
		&:hover{
			@include btn-hover;
		}
	}
	.flex-item{
		@media(min-width:$screen-md){
			display: flex;
			.flex-content{
				align-self: flex-end;
			}
		}
	}
}
.product-homecate-bg2{
	background: url(../img/bg-cat.jpg) no-repeat center;
	background-size:cover;
	padding:247px 0 314px 0;
	@media(max-width:1366px){
		padding:150px 0;
	}
	@media(max-width:320px){
		padding:50px 0;
	}
}
.product-homecate-cat{
	[class*="col-md-"] {
		padding:0;
	}
	.row{
		margin:0;
	}
	
}
.btn-shopby{
	@include btn(267px,99px,#fff,#ff3131);
	font-size:26px;
	font-weight:500;
	text-transform:capitalize;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	@media(max-width:$screen-md-max){
		width:196px;
		height:54px;
		line-height:54px;
		font-size:16px;
	}
	&:hover{
		color:#000;
		background:#fff;
	}
}
.product-homecate{
	&.space-v1{
		padding-top:100px;
		padding-bottom:136px;
		@media(max-width:$screen-xs-max){
			padding-top:30px;
			padding-bottom:30px;
		}
	}
}
// Home lookbook
.content-ver1{
	.content-img{
		position:relative;
		@media(min-width:1500px){
			margin-right: 75px;
		}
		
	}
	.row{
		@media(min-width:$screen-xs-max){
			display: flex;
			align-items: center;
		}
	}
	&.space-v1{
		padding-top:30px;
		padding-bottom:30px;
		@media(min-width:1500px){
			padding-top:126px;
			padding-bottom:142px;
		}
		
	}
}
.content-info{
	h3{
		@media(min-width:$screen-md){
			font-size:60px;
		}
		font-weight:500;
		padding-bottom:35px;
		margin-bottom:40px;
		position:relative;
		&:before{
			@include line-left(99px,#eb5050);
			border-bottom:3px solid #000;
		}
	}
	p{
		color:#a4a4a4;
		font-size:14px;
		line-height:24px;	
		margin-bottom: 60px;
	}
}
.content-ver2{
	&.space-v1{
		padding-top:30px;
		padding-bottom:30px;
		@media(min-width:1500px){
			padding-top:124px;
			padding-bottom:172px;
		}
	}
	.content-img{
		position:relative;
		
				margin-bottom:65px;
		&.text-right{
			@media(min-width:$screen-sm){
				float:right;
			}
		}
		
	}
	.content-info{
		&:first-child{
			@media(min-width:$screen-md){
				padding-top:65px;
			}
		}
	}
}
.lookbook-title{
	display:inline-block;
	border-bottom:3px solid #333;
	font-weight:500;
	padding-bottom:20px;
	margin-bottom:55px;
	@media(min-width:$screen-md){
		font-size:30px;
	}
}
.wrapper-content{
	&.space-v1{
		padding-top:30px;
		padding-bottom:30px;
		@media(min-width:1500px){
			padding-top:150px;
			padding-bottom:122px;
		}
	}
}
// Home minimal
.intro{
	display:block;
	position:fixed;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:100;
	background: url(../img/home_minimal_bg.jpg) no-repeat center;
    background-size: cover;
}
// Home instagram
.instagram-shop{
	padding:50px 0;
}