body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #000000;
  width: 100%;
  overflow-x: hidden;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #eb5050;
  text-decoration: none;
  outline: none;
}
p{
  margin-bottom: 20px;
}
ul, ol{
  padding-left: 17px;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
img {
  height: auto;
  max-width: 100%;
}
/*header*/
.header {
  background: url("../images/banner-header.jpg");
  height: 100vh;
  position: relative;
  margin-bottom: 96px;
}
.banner-content {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  text-align: center;
  color: #ffffff;
}
.banner-content h2 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 28px;
  margin-bottom: -7px;
}
.banner-content h1 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 95px;
}
.banner-content span {
  font-size: 10px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.6em;
}
.slider-center {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
:focus {
  outline: none;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  border: none;
  width: 66px;
  height: 27px;
  background: none;
  font-size: 0;
  color: #ffffff;
  padding: 0;

}
.slick-prev {
  left: 25%;
}
.slick-next {
  right: 25%;
}
.slick-arrow::before {
  content: url("../images/arrow.png");
  position: absolute;
  top: 0;
  left: 0;
}
.slick-next::before {
  transform: rotate(180deg);
}

.slide-media {
  position: relative;
  margin-left: 11%;
  margin-right: 11%;
}
.slide-media:hover .slide-image::after {
  opacity: 1;
}
.slide-media:hover .slide-link {
  opacity: 1;
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%)  scale(1);
}
.slide-media .slide-image::after {
  border-radius: 10px 10px 0 0;
  background: rgba(0, 0, 0, 0.68);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
}
.slide-media .slide-link:hover {
  color: #ffffff;
  background: #eb5050;
}
.slide-media .slide-link {
  min-width: 139px;
  text-align: center;
  background: #ffffff;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  left: 50%;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  padding: 0 15px;
  position: absolute;
  bottom: 50px;
  opacity: 0;
  transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -webkit-transform: translateX(-50%)  scale(0.6);
  -moz-transform: translateX(-50%) scale(0.6);
  -ms-transform: translateX(-50%) scale(0.6);
  -o-transform: translateX(-50%) scale(0.6);
  transform: translateX(-50%) scale(0.6);
}
.slide-media .slide-image img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.container-outer {
  width: 1550px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*content*/
.modes-list {
  padding-bottom: 75px;
}
.mode-title {
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #000000;
  padding-right: 27px;
}
.mode-number {
  display: inline-block;
  line-height: 30px;
}
.modes-mode {
  border: 2px solid #f1f1f1;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  width: 25px;
  height: 25px;
  line-height: 22px;
  margin: 0 2px;
  text-align: center;
  color: #ababab;
}
.modes-mode:hover {
  border-color: #000000;
  color: #000000;
}
.section-demo {
  padding-bottom: 100px;
}
.section-demo:last-child {
  padding-bottom: 70px;
}
.section-title {
  position: relative;
  padding-bottom: 38px;
  margin-bottom: 60px;
}
.section-title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 68px;
  height: 3px;
  background-color: #000000;
}
.section-title h3 {
  font-size: 30px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 7px;
}
.section-title span {
  font-size: 10px;
  font-weight: 500;
  color: #9f9f9f;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.section-banner {
  padding-bottom: 65px;
}
.demo-content {
  padding-bottom: 53px;
}
.demo-title {
  margin-top: 30px;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.demo-content .demo-image {
  display: block;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.demo-content:hover .demo-image {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 7px 20px 0 rgba(0,0,0,0.16);
  -moz-box-shadow: 0 7px 20px 0 rgba(0,0,0,0.16);
  box-shadow: 0 7px 20px 0 rgba(0,0,0,0.16);
}
/*footer*/
.banner-footer {
  padding: 142px 15px 203px 15px;
  text-align: center;
  background: url("../images/banner-footer.jpg");
}
.banner-footer  h4 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 60px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 52px;
}
.banner-footer  h4 span {
  font-style: italic;
}
.banner-footer a {
  background-color: #000000;
  display: inline-block;
  width: 196px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  height: 51px;
  line-height: 51px;
  color: #ffffff;
}
.banner-footer a:hover {
  background: #eb5050;
  color: #ffffff;
}
.scroll_top {
  background: #ffffff;
  border-radius: 50%;
  bottom: 110px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  color: #000000;
  display: block;
  font-size: 20px;
  height: 38px;
  letter-spacing: 0;
  line-height: 38px;
  opacity: 1;
  overflow: visible;
  padding-top: 0;
  position: fixed;
  right: 22px;
  text-align: center;
  transition: all 0.5s ease 0s;
  visibility: visible;
  width: 38px;
  z-index: 8;
}
@media (max-width: 1200px) {
  .modes-list {
    display: none;
  }
  .banner-content {
    top: 30px;
  }
  .banner-content h1 {
    font-size: 45px;
    margin-bottom: 30px;
  }
  .banner-content h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .slick-arrow {
    display: none !important;
  }
  .section-demo {
    text-align: center;
  }
  .section-title::before {
    margin: 0 auto;
    right: 0;
  }
  .banner-footer h4 {
    font-size: 35px;
  }
}
/* ############################
          Navigation
############################ */

.main-nav {
  display: none;
}

.main-nav.main-nav-scrolled {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #ffffff;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2)
}

.main-nav .navbar-nav {
  list-style: none;
  float: none;
  text-align: center;
  display: block;
  padding-left: 0;
  margin: 0;
}

.main-nav .navbar-nav li {
  float: none;
  padding: 15px 20px;
  display: inline-block;
}

.main-nav .navbar-nav li a {
  color: #21212b;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding-bottom: 12px;
  position: relative;
}
.main-nav .navbar-nav li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #21212b;
  transition: 0.5s;
}
.main-nav .navbar-nav li a:hover:after,
.main-nav .navbar-nav li.active a:after {
  width: 100%;
  left: 0;
}