// 4.3. Blog

.main-container {
    padding: 88px 0;
    @media (min-width: $screen-lg) {
        .container {
            width: 1170px;
        }
    }
    @media(max-width:$screen-sm-max) {
        padding: 30px 0;
    }

    input {
        @include placeholder(#a4a4a4, 12px);
    }
    .btn {
        color: #fff;
        background: $button-color;
        @include transition2;
        &:hover {
            background: $button-hover;
        }
    }
}

.readmore--ver2 {
    font-weight: 500;
    font-size: 14px;
    &:after {
        content: "";
        background: url(../img/blog/Right-50.png) no-repeat center;
        top: 2px;
        right: 0;
        position: relative;
        display: inline-block;
        width: 36px;
        height: 12px;
    }
}

.post-date {
    color: #b3b3b3;
    @include tracking(300);
    font-weight: 600;
    text-transform: uppercase;
}

.post-image {
    img {
        width: 100%;
    }
}

.readmore {
    line-height: 51px;
    height: 51px;
    width: 196px;
    color: #fff;
    background: $button-color;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    text-transform: capitalize;
    @include transition2;
    &:hover {
        background: $button-hover;
        color: #fff;
    }
}

.main-content {
    @media(max-width: $screen-sm-max) {
        margin-bottom:30px;
    }
}

.blog-post-item {
    @media(min-width: $screen-md) {
        margin-bottom:51px;
        &.item-grid {
            margin-bottom: 56px;
        }
    }
    @media(max-width: $screen-sm) {
        margin-bottom: 30px;
    }
    .blog-post-info {
        margin-top: 25px;
        &.space-v1{
            padding: 30px 30px 20px 30px;
        }
        &.space-v2{
            margin-top:34px;
        }
    }
    .post-date {
        font-weight: 600;
        font-size: 11px;
        margin-bottom: 12px;
        &.v2 {
            font-weight: 500;
        }
    }
    .post-name {
        margin-bottom: 30px;
        &.ver2 {
            margin-bottom: 40px;
        }
        a {
            font-size: 20px;
            text-transform: capitalize;
        }
        &.ver2 {
            a {
                font-size: 30px;
            }
        }
    }
    .post-desc {
        color: #a4a4a4;
        font: 14px/24px $base-font-family;
        margin-bottom: 30px;
    }


    .post-metas {
        margin-top: 35px;
        padding: 25px 0;
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        overflow: hidden;
        &.ver2 {
            border-bottom: 0;
        }
        &.ver--grid {
            margin-top: 0;
            border-top: 0;
        }
        .categories {
            float: left;
        }
    }
    .categories {

        a {
            font-size: 11px;
            color: #a4a4a4;
            font-weight: 500;
            text-transform: uppercase;
            @include tracking(300);
            &:hover {
                color: $color-hover;
            }
        }
    }
    .post-comments {

        // color: #fff;
        // float: right;
        font-size: 11px;
        font-weight: 500;

        padding: 30px 0; // text-align: center;
        display: inline-block;
        h3 {
            font-size: 16px;
            position: relative; // height: 20px;
            // line-height: 20px;
            // &:before{
            //  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #000;
            //  border-style: solid;
            //  border-width: 5px;
            //  bottom: -5px;
            //  content: "";
            //  left: 5px;
            //  position: absolute;
            // }
        }
    }
}

.blog-item-list {
    .post-item {
        @media(min-width: $screen-md) {
            @include clearfix();
            display: flex;
            align-items: top;
            margin-bottom: 37px;
        }
    }
    .blog-post-img {
        @media(min-width: $screen-md) {
            width: 47%;
            margin-right: 30px;
        }
    }
    .blog-post-info {
        @media(min-width: $screen-md) {
            width:53%;
            margin-top: 0;
        }
        p {
            font: 14px/24px $base-font-family;
            color: #a4a4a4;
        }
    }
}

.pagination-container {
    nav .pagination {
        li {
            display: inline-block;
            margin-right: 15px;
            a {
                font-weight: 500;
                font-size: 16px;
                color: #bdbdbd;
                @include border-radius(0);
                background: transparent;
                width: 38px;
                height: 38px;
                line-height: 38px;
                text-align: center;
                padding: 0;
                &.active {
                    border: 1px solid #000;
                    color: #000;
                }
            }
            i {
                font-size: 14px;
                font-weight: normal;
            }
            a.next,
            a.prev {
                width: auto;
                padding: 0 15px;
            }
        }
    }
}

.widget-title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
    &.v2 {
        margin-bottom: 44px;
    }
}

.sidebar {
    .widget {
        padding: 35px 0;
    }
    .widget_search {
        padding-top: 0;
        padding-bottom: 40px;
        .search-form {
            position: relative;
            input {
                width: 100%;
                height: 55px;
                padding: 0 25px;
                background: #f4f4f4;
                border: 0px solid;
                @include placeholder(#a4a4a4, 12px);
            }
            .btn-search {
                position: absolute;
                top: 0px;
                right: 0px;
                @include border-radius(0);
                color: #fff;
                height: 55px;
                line-height: 55px;
                padding: 0;
                width: 97px;
                background: $button-color;
                &:hover {
                    background: $button-hover;
                }
            }
        }
    }
    .widget_social {
        padding: 34px 0;
        border-bottom: 1px solid #efefef;
        border-top: 1px solid #efefef;
        .social {
            >* {
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                background: #f3f3f3;
                text-align: center;
                @include border-radius(50%);
                margin-right: 15px;
            }
        }
    }
    .widget_category {

        ul {
            @include clearfix();
            li {
                float: left;
                display: inline-block;
                text-align: right;
                width: 100%;
                color: #999999;
                font-size: 12px;
                padding: 9px 0;
                @media(max-width: $screen-sm-max) {
                    padding:12px 0;
                }
                a {
                    float: left;
                    display: inline-block;
                    font-size: 12px;
                    color: #999999;
                    text-transform: uppercase;
                    &:hover {
                        color: $color-hover;
                    }
                }
            }
        }
    }
    .widget_popular_posts {
        padding-bottom: 9px;
        border-bottom: 1px solid #efefef;
        border-top: 1px solid #efefef;

        .post-item-list {
            .post-item {
                margin-bottom: 27px;
                .post-item-img {
                    float: left;
                    margin-right: 18px;
                }
                .post-item-text {
                    @include clearfix();
                    .post-date {
                        font-size: 9px;
                        margin-bottom: 15px;
                    }
                    h3 {
                        overflow: hidden;
                        font-size: 0;
                        a {
                            font: 500 14px/14px $base-font-family;
                        }
                    }
                }
            }
        }
    }
    .widget_newletters {

        .newletter-form {
            padding: 47px 34px 47px 27px;
            border: 5px solid;
            margin-top: 40px;
            margin-bottom: 10px;
            @include clearfix();
            .form-control {
                @include border-radius(0);
                background: transparent;
                border-top: transparent !important;
                border-left: transparent !important;
                border-right: transparent !important;
                border-bottom: 1px solid #333 !important;
                box-shadow: none !important;
                padding: 0;
                margin-bottom: 15px;
            }
            .btn-submit {
                @include border-radius(0);
                float: right;
                width: 118px;
                height: 44px;
            }
        }
    }
    .widget_instagram {

        border-bottom: 1px solid #efefef;
        border-top: 1px solid #efefef;
        .cosre-instagram {
            margin: 0 -7px;
            @include clearfix();
            .item {
                float: left;
                padding: 7px;
                width: 33.33%;
            }
        }
    }
    .widget_tags {

        .content {
            a {
                width: 81px;
                height: 35px;
                line-height: 35px;
                display: inline-block;
                text-align: center;
                border: 1px solid;
                text-transform: uppercase;
                margin: 0 8px 8px 0;
                border: 1px solid #a4a4a4;
                color: #a4a4a4;
                @include transition2;
                @media(min-width: $screen-md) {
                    margin: 0 4px 8px 0;
                }
                &.active {
                    color: #000;
                    border: 1px solid #000;
                }
                &:hover{
                    color: #000;
                    border: 1px solid #000;
                }
            }
        }
    }
}

//single post
.single-post {
    padding-bottom: 50px;
    &.v2 {
        padding-top: 50px;
    }
}

.post-image {
    margin-bottom: 40px;
}

.blog-post-container .blog-post-single .blog-post-info {
    margin-top: 0;
    &.v2 {
        margin-top: 25px;
    }
}

.post-content {
    .post-text {
        padding-top: 45px;
        &.v2 {
            padding-top: 30px;
        }
        &.v3 {
            padding-top: 0;
        }
        @media(max-width: $screen-sm) {
            padding-top: 25px;
        }
        p {
            color: #a4a4a4;
            font: 14px/24px $base-font-family;
            margin-bottom: 20px;
        }
        blockquote {

            padding: 35px 100px 10px 30px;
            @media(max-width: $screen-sm) {
                padding: 35px 0 10px 30px;
            }


            p {
                font: 500 20px/28px $base-font-family;
                color: #000;
            }
            p.author {
                color: #b3b3b3;
                font-weight: 500;
                font-size: 11px;
                text-transform: uppercase;
                @include tracking(300);
            }
        }
    }
}

.post-share {
    padding: 15px 0;
    border-top: 1px solid #e8e8e8;
    &.v2 {
        margin-top: 50px;
    }
    ul {
        @include clearfix();
        li {
            width: 33.333%;
            float: left;
            a {
                font-size: 12px;
                font-weight: 500;
                @include tracking(200);
                text-transform: uppercase;
                @media(max-width: $screen-sm-max) {
                    line-height: 0;
                    color: transparent;
                    width: 40px;
                    height: 40px;
                    display: block;
                }
                i {
                    width: 41px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    display: inline-block;
                    background: #000;
                    @include border-radius(50%);
                    color: #fff;
                    margin-right: 10px;
                }
            }
            &:nth-child(2) {
                text-align: center;
            }
            &:last-child {
                text-align: right;
            }
        }
    }
}

.post-link {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    display: inline-block;
    padding: 44px 0 53px;
    width: 100%;
    @include clearfix();
    .nav-previous {
        float: left;
        a {
            font-size: 12px;
            font-weight: 500;
            @include tracking(200);
            text-transform: uppercase;
            display: inline-block;
            position: relative;
            &:before {
                content: "";
                background: url(../img/blog/long-arrow-left.png) no-repeat center;
                top: 2px;
                left: 0;
                position: relative;
                display: inline-block;
                width: 26px;
                height: 12px;
                margin-right: 15px;
                @media(max-width: 320px) {
                    margin-right: 5px;
                }
            }
        }
    }
    .nav-next {
        float: right;
        a {
            font-size: 12px;
            font-weight: 500;
            @include tracking(200);
            text-transform: uppercase;
            &:after {
                content: "";
                background: url(../img/blog/long-arrow-right.png) no-repeat center;
                top: 2px;
                right: 0;
                position: relative;
                display: inline-block;
                width: 26px;
                height: 12px;
                margin-left: 15px;
                @media(max-width: 320px) {
                    margin-left: 5px;
                }
            }
        }
    }
}

.post-related {
    padding-top: 35px;
}

.blog-post-container .post-related .blog-post-item .blog-post-info .post-date {
    font-size: 9px;
    margin-bottom: 5px;
}

.blog-post-container .post-related .blog-post-item .blog-post-info .post-name a {
    font-size: 16px;
}

.post-comments {
    padding-top: 35px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.commentlist {
    li:nth-child(2) {
        .comment {
            border-top: 1px solid #e8e8e8;
            border-bottom: 1px solid #e8e8e8;
        }
    }
}

.comment {
    padding: 35px 0;
    display: flex;
    align-content: stretch;
    @media(max-width: $screen-sm-max) {
        display:block;
    }
    .avatar {
        padding-right: 20px;
        width: 35.3%;
        @media(max-width: $screen-sm-max) {
            width:100%;
            margin-bottom: 30px;
        }
    }
    .first-box {
        @include clearfix();
    }

    .comment-author-meta {
        float: left;
        strong {
            font-weight: 500;
            font-size: 16px;
        }
        .date {
            font-size: 12px;
            color: #a4a4a4;
        }
    }
    .comment-content {
        margin-top: 18px;
        color: #a4a4a4;
        font: 14px/24px $base-font-family;
    }
    .comment-post-reply {
        float: right;
        a {
            width: 69px;
            height: 23px;
            line-height: 23px;
            text-align: center;
            font-weight: 500;
            font-size: 10px;
            display: inline-block;
            border: 1px solid;
            text-transform: uppercase;
            @include tracking(200);
        }
    }
}

.comment-child {
    margin-left: 120px;
    border-top: 1px solid #e8e8e8;
    @media(max-width: $screen-sm-max) {
        margin-left:40px;
    }
}

.post-reply {
    padding-top: 35px;
}

.comment-form {
    @include clearfix();
    @media(min-width: $screen-md) {
        margin-top: 50px;
    }
    .form-group {
        label {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 15px;
        }
        input {
            height: 54px;
            @include border-radius(0);
            background: #f8f8f8;
            border: $border-input;
            @media(max-width: $screen-sm) {
                margin-bottom:15px;
            }
        }
        textarea {
            height: 243px;
            background: #f8f8f8;
            border: $border-input;
            @include border-radius(0);
        }
        @media(min-width:$screen-md) {
            margin-bottom: 30px;
        }
        &.ver2{
            label{
                margin-bottom:20px;
            }
            
        }
    }
    .btn-submit {
        width: 196px;
        height: 54px;
        line-height: 54px;
        float: right;
        padding: 0;
        @include border-radius(0);
        &.ver2{
            float:none;
            margin:0 auto;
            display:block;
            background:#000;
            color:#fff;
            &:hover {
                background: #eb5050;
                color: #fff;
            }
        }
        &.ver3{
            background:#000;
            color:#fff;
            &:hover {
                background: #eb5050;
                color: #fff;
            }
        }
    }
    &.contact-form{
        margin:50px 0;
        @media(min-width:$screen-md){
            width:945px;
            margin:110px auto;
        }
        .form-group{
            @media(min-width:$screen-md){
                margin-bottom:45px;
            }
        }
    }
}

.title-underline {
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    text-transform: uppercase;
    margin-bottom: 25px;
    &.v2 {
        margin-top: 61px;
    }
}

.grid {
    margin-bottom: 45px;
}

.carousel {
    margin: 45px 0;
}

.nav-button {
    margin-top: 50px;
    @media(max-width: $screen-xs-max) {
        margin-top:20px;
    }
}

.btn-load-more {
    @extend .readmore;
}

@media only screen and (min-width: 0px) and (max-width: $screen-xs) {
    .blog--grid [class*="col-xs-"] {
        width: 100%;
    }
}

.blog-post-item-list {


    @media(min-width: $screen-md) {

        &.blog-post-item {
            margin-bottom:0;
        }
    }
    .post-name {
        a {
            font-size: 24px;
        }
    }

    .categories {
        margin-bottom: 15px;
    }
    .ver-list {
        border: 0;
        margin: 0;
        padding: 0;
        .post-date {
            float: left;
        }
        .post-comments {}
    }
}

.blog-masonry {
    .blog-post-item {
        @media (min-width: 992px) {
            margin:0;
        }
        .post-metas {
            margin: 0;
            padding: 15px 0;
            border: 0;
        }
        .post-name {
            margin-bottom: 10px;
        }
        .blog-post-img {
            position: relative;
        }
        .info-inside-img {
            position: absolute;
            top: 0;
            width:100%;
            height:100%;
            &.space-v1{
                padding:20px 30px 0 35px;
                margin-top:0;
            }
        }
    }
}

.blog-product-carousel {
    .product-item .product-title a {
        font-size: 12px;
        font-weight: 500;
    }
    .product-item .product-after-switch .product-price {
        color: #eb5050;
        font-size: 12px;
        font-weight: 500;
    }
    .owl-theme .owl-nav [class*=owl-] {
        background: #fff;
        color: #000;
        margin: 0;
        padding: 0;
        font-size: 22px;
        @include border-radius(0);
        @media(min-width: 1500px) {
            background:transparent;
        }
    }
    .owl-nav>div {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #000000;
        font-size: 22px;
        left: 0;
        position: absolute;
        top: 35%;
        @include translateY(-50%);
    }
    .owl-nav>div.owl-next {
        left: auto;
        right: 0;
        @media(min-width: $screen-md) {
            right:-50px;
        }
    }
    .owl-nav>div.owl-prev {
        left: 0;
        right: auto;
        @media(min-width: $screen-md) {
            left:-50px;
        }
    }
}

.post-comments-number {
    background: #000000;
    color: #ffffff;
    float: right;
    font-size: 11px;
    font-weight: 500;
    height: 20px;
    line-height: 20px;
    min-width: 27px;
    padding: 0 4px;
    position: relative;
    text-align: center;
    display: inline-block;
    &:before {
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #000000;
        border-style: solid;
        border-width: 5px;
        bottom: -5px;
        content: "";
        left: 5px;
        position: absolute;
    }
}

.hero-section {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    min-height: 547px;
    &.v2{
        background: url(../img/about/about_simple_bg.jpg) no-repeat center;
        background-size:cover;
    }
    &.v3{
        min-height:unset;
    }
    .page-title {
        color: #fff;
        font-size: 60px;
        font-weight: 500;
        padding-bottom: 15px;
        margin-bottom: 20px;
        position: relative;
        text-transform: capitalize;
        &:before {
            @include line-center(50px,
            #eb5050);
            border-bottom: 2px solid #eb5050;
        }
    }
    .breadcrumb {
        margin: 0;
    }
    .breadcrumb>li>a {
        color: #fff;
        font-weight: normal;
        &:hover {
            color: $color-hover;
        }
    }
    .breadcrumb>li+li:before {
        color: #fff;
    }
}

// Blog listing
.blog-post-item-list {
    .blog-post-item {
        &.v2 {
            margin-bottom: 0;
            border-bottom: 1px solid #efefef;
            padding-bottom: 38px;
        }
    }
    .blog-img {
        @media(min-width: $screen-md) {
            display:none;
            vertical-align: top;
            width: 23%;
        }
    }
    .blog-post-info {
        @media(min-width: $screen-md) {
            display:table-cell;
            vertical-align: top;
            width: 77%;
            padding-left: 0;
        }
    }
    &:hover .blog-img {
        display: table-cell;
    }
    &:hover .blog-post-info {
        padding-left: 28px;
    }
}

.blog--listing {
    padding-top: 88px;
    padding-bottom: 0;
    .blog-post-item-list {
        padding-top: 38px;

        &:first-child {
            padding-top: 0;
        }
        &:last-child {}
    }
}

// single post carousel product
.blog-product-carousel {
    margin-top: 65px;
}

.post-text {
    blockquote {
        margin: 30px 0 55px 0;
    }
}

// Blog instagram
.widget-insta-grid {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container-inner {
    margin-left: -6px;
    margin-right: -6px;
}

.insta-item {
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 12px;
    &.v2 {
        padding-left: 0;
        padding-right: 0;
    }
}

.insta-img {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    vertical-align: bottom;
}

.insta-icon {
    position: absolute;
    bottom: 3%;
    right: 3%;
    background-color: rgba(0, 0, 0, .18);
    padding: 8px;
    border-radius: 50%;
    font-size: 12px;
    -webkit-transition: all .225s ease-out .01s;
    -moz-transition: all .225s .01s ease-out;
    -o-transition: all .225s .01s ease-out;
    -ms-transition: all .225s .01s ease-out;
    transition: all .225s ease-out .01s;
    color: #fff;
    line-height: 1;
}

.insta-blog-carousel {
    .owl-theme .owl-nav {
        margin-bottom: 0;
    }
    .owl-theme .owl-nav [class*=owl-] {
        background: #fff;
        color: #000;
        margin: 0;
        padding: 0;
        font-size: 22px;
        @include border-radius(50%);
    }
    .owl-nav>div {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #000000;
        font-size: 22px;
        left: 0;
        position: absolute;
        top: 45%;
        @include translateY(-50%);
    }
    .owl-nav>div.owl-next {
        left: auto;
        right: 0;
    }
    .owl-nav>div.owl-prev {
        left: 0;
        right: auto;
    }
}

// blockquote
blockquote {
    border: 5px solid #000;
    color: #000;
    display: inline-block;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    width: 100%;
    &.space-v1{
        padding: 32px 28px;
        margin-bottom:0;
    }
    &:before {
        content: url("../img/blog/quote.png");
        display: inline-block;
        margin-bottom: 5px;
    }
    &.v2:before{
        content: url("../img/ghim.png");
    }
}

p.author {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    @include tracking(300);
}
.copyright{
    color:#b3b3b3;
    font-size:14px;
    font-weight:normal;
}
// Blog masonry
.blog-masonry{
    background:#f6f6f6;
    padding-bottom:120px;
}
.column-masonry {
    padding-left: 0;
    padding-right: 0;
}
.blockdes{
    margin-bottom:20px;
    &.v2{
        margin-bottom:10px;
    }
}
.blog-post-img:hover .blog-post-info{
    opacity:1;
}
.blog-masonry .post-item{
    margin-bottom:30px;
}
.bg-white{
    background:#fff;
}
.image-video:before{
    background: #ffffff;
    border-radius: 50%;
    content: "\f04b";
    font-family: 'FontAwesome', sans-serif;
    height: 78px;
    left: 50%;
    line-height: 78px;
    position: absolute;
    text-align: center;
    top: 50%;
    letter-spacing: -3px;
    font-size: 20px;
    z-index: 1;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    width: 78px;
    transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    -webkit-transition: all 0.5s linear 0s;
}
.post-video{
    position:relative;
}
.widget-shop-grid {
    padding-top: 25px;
    padding-bottom: 45px;
    [class*="col-"] {
       padding:0; 
    }
    .row{
        margin:0;
    }
}